body {
    background: #121212;
    color: #00ff9d;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 2px solid #00ff9d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px #00ff9d;
    text-align: center;
    min-width: 300px;
}

#btns{
    margin: 15px;
}

input[type="text"] {
    width: 100%;
    background: #000;
    border: 1px solid #00ff9d;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    text-align: center;
}

button {
    background: #00ff9d;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

button:hover {
    background: #00cc7a;
}